<header class="bg-dark text-white pb-2">
    <div class="d-flex flex-wrap bg-dark-secondary header-card">
        <div class="p-3 col-10 d-flex flex-wrap justify-content-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img class="bi me-2" width="40" height="32" src="/assets/logo.svg">
            </a>

            <ul class="nav col-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-white">ATH Schedule</a></li>
            </ul>
        </div>
    </div>
</header>
