<div class="w-100 bg-dark p-2 text-white">
    <div class="d-flex flex-wrap align-items-start justify-content-center center-container">
        <div class="col-12 col-sm-12 dark-card p-3" [ngClass]="{'col-md-4 col-xl-3 col-xxl-2': !scheduleFormHidden, 'col-md-auto': scheduleFormHidden}">
            <div class="d-flex justify-content-between text-white text-center px-sm-3 px-2 py-2">
                <span class="text-center" *ngIf="!scheduleFormHidden || isMobile">Select group</span>
                <fa-icon (click)="toggleScheduleForm()" class="action-icon" [icon]="getToggleIcon(isMobile)"></fa-icon>
            </div>
            <app-schedule-form *ngIf="!scheduleFormHidden" (formSubmitEvent)="scheduleBranchSubmitted($event)"></app-schedule-form>
        </div>
        <div class="flex-grow-1" style="max-width: 1100px"
             [ngStyle]="{
                    'margin-left': !isMobile ? '0.5rem' : '0',
                    'margin-top': !isMobile ? '0' : '0.5rem'
                }">
            <app-date-picker (currentWeekChanged)="dateChanged($event)"></app-date-picker>
            <app-calendar [isMobile]="isMobile"></app-calendar>
        </div>
    </div>
</div>


