<div #calEntry [ngClass]="{
        'lecture-block': type === 'wyk',
        'practice-block': type !== 'wyk'}"
     [ngStyle]="{
        'height': unwrapped ? '100%' : minutesLength * 0.8 + 'px',
        'width': width + 'px'}"
     style="cursor: pointer"
     class="overflow-hidden"
     (click)="showFull()"
>
    <div #calEntryText class="d-flex justify-content-start align-items-center flex-column">
        <span>{{name + ', ' + type}}</span>
        <span>{{speakers.join(' ')}}</span>
        <span>{{rooms.join(' ')}}</span>
        <span>{{time}}</span>
    </div>
</div>
